<section id="hero" class="relative min-h-screen overflow-hidden">

  <!-- LEFT SHAPE -->
  <div class="hero-left absolute top-0 left-0 w-full md:w-[55%] h-full bg-primary"></div>

  <!-- RIGHT SHAPE -->
  <div class="hero-right absolute top-0 right-0 w-full md:w-[50%] h-full bg-primary"></div>


  <div
    class="relative z-10 max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center md:justify-between min-h-screen px-6 gap-10 md:gap-0"
  >

    <!-- HERO TEXT -->
    <div
      class="flex flex-col justify-center items-center md:items-start text-center md:text-left max-w-xl text-white hero-content"
    >

      <h1 class="text-3xl sm:text-4xl md:text-6xl font-bold mb-6">
        <span id="typewriter" class="border-r-2 border-white pr-1"></span>
      </h1>

      <p class="text-base sm:text-lg md:text-2xl mb-6 text-gray px-2">
        Passionate about building scalable web <br> applications using Angular,
        .NET, and modern technologies.
      </p>

    </div>


    <!-- IMAGE + SOCIAL -->
    <div class="relative hero-content flex flex-col items-center gap-6">

      <div
        class="w-44 h-44 sm:w-56 sm:h-56 md:w-72 md:h-72 rounded-full overflow-hidden border-4 border-white shadow-2xl"
      >
        <img
          src="assets/Images/me.jpg"
          alt="Osama"
          class="w-full h-full object-cover"
        />
      </div>

        <!-- SOCIAL ICONS -->
      <div class="flex gap-5">

        <a
          href="https://www.linkedin.com/in/osamatalaat/"
          class="social-icon linkedin"
          target="_blank"
        >
          <i class="fab fa-linkedin-in text-xl"></i>
        </a>

        <a
          href="https://github.com/Osamatalaat"
          class="social-icon github"
          target="_blank"
        >
          <i class="fab fa-github text-xl"></i>
        </a>

        <a
          href="mailto:osamatalaat707@gmail.com"
          class="social-icon gmail"
          target="_blank"
        >
          <i class="fas fa-envelope text-xl"></i>
        </a>

        <a
          href="https://wa.me/0201111048402"
          class="social-icon whatsApp"
          target="_blank"
        >
          <i class="fab fa-whatsapp text-xl"></i>
        </a>

      </div>

    </div>

  </div>

</section>
